# LOCAL (rodando sem Docker)
# FORMATO: postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DB
# DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/NOME_DB?schema=public"

# DOCKER (rodando com docker-compose)
# FORMATO: postgresql://USUARIO:SENHA@HOST:PORTA/NOME_DB
# (HOST = nome do serviço no docker-compose, geralmente "db")
# DATABASE_URL="postgresql://postgres:postgres@db:5432/app?schema=public"
